.nav {
  height: 70px;
  width: 100%;
  padding:10px;
  margin: 0 auto 80px;
  background-color: #fdac40;
  color: #fff;
  display:flex;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 5px ;
}

.nav ul {
  display:flex;
  justify-content: center;
  align-items: center;
  list-style:none;
  padding-inline-start: 10px;
}

.nav ul li a {
  margin: 5px 10px;
}

.nav ul li:after,
.nav ul li a:before {
    transition: all .5s;
}
.nav ul li a:hover {
  color: #a7f1e1;
}

.logo{
  
  display: flex;
  flex-direction: row;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}